#seasonPage {
	.section-header {
		color: $pink-accent;
		border-bottom: 3px solid $pink-accent;
		font-size: 2em;
		margin: 45px 0;
	}
	.event-row {
		margin: 0;
		display: flex;
		/*flex-direction: column;*/
		flex-wrap: wrap;
	}
	.event-date {
		background-color: $pink-accent;
		color: #fff;
		padding: 1.5em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.event-location {
		color: $pink-accent;
	}
	img {
		min-width: 100px;
		width: 100px;
	}

	.media:nth-of-type(even) {
		background-color: #f2f2f2;
	}

	.media-left {
		vertical-align: middle;
	}
	.media-body {
		padding: 1em;
	}
	.event-blurb {
		color: #808080;
		.email {
			color: teal;
		}
	}
}
