<div id="seasonPage">
	<div class="row page-title">
		<h1>Season Schedule</h1>
	</div>

	<ul class="media-list">

		<span ng-repeat="m in events">
			<h4 class="month section-header">{{months[$index]}}</h4>

			<li class="media" ng-repeat="evt in m track by $index">
				<div class="row event-row">
					<div class="col-md-10">
						<div class="media-left">
							<a><img ng-src="{{eventData[evt.title].image}}"/></a>
						</div>

						<div class="media-body">
							<h4 class="media-heading">{{evt.title}}</h4>
							<h6 class="event-location">
								<span class="glyphicon glyphicon-map-marker"></span> {{eventData[evt.title].location}}
							</h6>
							<p class="event-blurb">{{eventData[evt.title].description}}</p>
						</div>
					</div>

					<div class="col-md-2 col-xs-12 event-date">
						<h3>{{evt.days}}</h3>
						<p class="event-blurb" ng-repeat="time in evt.timeRanges">{{time}}</p>
					</div>
				</div>
			</li>
		</span>

	</ul>
</div>
