#homePage {
	.featBlock {
		min-height: 250px;
		padding-bottom: 1em;
		a {
			text-decoration: none;
			h2:hover {
				color: #dddddd;
			}
		}
	}
	.index-carousel {
		background-color: #000000;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.section-header {
		color: #fff;
	}
	#featured{
		background-color: $logo-pink;
		color: #ffffff;
		h6{
			color: #333333;
		}
		button{
			color: #ffffff;
			background-color: $pink-accent;
			float: right;
		}
		img {
			max-height: 150px;
			width: auto;
			display: block;
			margin: 0 auto;
			border: 3px solid #ffffff;
			/*border-radius: 5px 25px 5px 25px;*/

		}
		.event-date {
			color: $title-gray;
			font-weight: bold;
		}
		.carousel-control {
			position: relative;
		}
		.featured-directions {
			margin-top: 20px;
			text-align: right;
		}
	}
	.visit{
		background-size: inherit;
		background-repeat: no-repeat;
		background-position: center;
	}
	.season{
		text-align: center;
		background-color: $logo-blue;
		background-size: cover;
		background-repeat: no-repeat;
		background-blend-mode: overlay;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		button{
			color: #ffffff;
			background-color: $logo-blue;
		}
	}
	.sampson{
		padding-bottom: 1em;
		background-color: $logo-green;
		color: #ffffff;
		img{
			width: 100%;
			margin-top: 10%;
			border: 3px solid #ffffff;
			/*border-radius: 5px 50px 5px 50px;*/
			/*box-shadow: 2px 2px 2px #000000;*/
		}
		button{
			color: #ffffff;
			background-color: $green-accent;
			display: block;
			margin: 0 auto;
		}
	}
	/*carousel*/
	#indexCarousel{
		background-color: #000;
		height: 250px;
		max-height: 300px;
		overflow: hidden;
		.controls {
			position: absolute;
			z-index: 10;
			background: none;
			color: #fff;
			border: none;
			font-size: 80px;
			opacity: .8;
			padding: 0;
			top: 85px;
			text-shadow: 2px 2px #000;
		}
/*		.right-control {
			right: 0px;
		}
		.left-control {
			left: 0px;
		}*/
		img {
			padding: 0 1px;
		}
	}
}
