#aboutPage{
	/* start clear bootstrap */
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover {
		background-color: unset;
		border: none;
	}
	.nav-tabs {
		border-bottom: none;
	}
	/* end clear bootstrap*/
	
	.about-header {
		height: 250px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		.about-header-text {
			text-align: center;
			color: #ffffff;
			font-family: $header-font;
			font-size: .75em;
		}
	}
	
	.nav {
		text-align: center;
		margin-bottom: 30px;
		li {
			padding: 0;
		}
		li, a {
			color: #fff;
		}
		.tab-div {
			background-color: white;
			height: 20px;
		}
		.tab-arrow {
			visibility: hidden;
			.history-arrow {
				fill: $logo-blue;
			}
			.mission-arrow {
				fill: $logo-orange;
			}
			.board-arrow {
				fill: $logo-pink;
			}
			.community-arrow {
				fill: $logo-yellow;
			}
		}
		li.active, li:hover {
			.tab-arrow {
				visibility: visible;
			}
		}
		.history-nav {
			background-color: $logo-blue;
		}
		.mission-nav {
			background-color: $logo-orange;
		}
		.board-nav {
			background-color: $logo-pink;
		}
		.community-nav {
			background-color: $logo-yellow;
		}
	}
	
	.mission {
		h3 {
			color: $logo-orange;
		}
		.statement {
			font-family: $header-font;
			color: $light-gray;
			font-size: 2em;
			padding: 3% 0;
			.quote-style {
				font-weight: bold;
				color: $logo-orange;
				font-size: 3em;
				vertical-align: bottom;
				text-align: end;
			}
		}
		.about-mission{
			.about-mission-title {
				font-family: $header-font;
				color: $light-gray;
				border-bottom: 3px solid $logo-orange;
				margin-bottom: 2%;
				font-size: 1.25em;
				font-weight: bold;
			}
			li {
				margin: 0 0 1em 0;
			}
			margin-bottom: 2%;
		}
	}
	
	.about-history{
		margin-bottom: 2%;
		.section-header{
			padding: 0 15px;
			color: $blue-accent;
		}
	}
	.board-members {
		text-align: center;
		.section-header {
			padding: 0 15px;
			color: $logo-pink;
			text-align: left;
		}
		img {
			max-width: 60%;
		}
		.officer {
			.position {
				font-weight: bold;
			}
		}
	}

	.about-community-event {
		.section-header{
			color: $logo-yellow;
		}
		.com-evt {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 2em;
			.com-evt-title{
					font-family: $header-font;
					color: $title-gray;
					border-bottom: 2px solid $logo-yellow;
			}
			.com-evt-blurb{

			}
		}

	}
}