<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">All Shook Up</h4>
      </div>
      <div class="modal-body">
      <!-- carousel -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">

          <!-- Loop through the modalAlbum.images in GalleryCtrl's scope -->
          <li
            data-target="#carousel-example-generic"
            data-slide-to="{{$index}}"
            class="{{$index == 0 ? 'active' : ''}}"
            ng-repeat="image in modalAlbum.images track by $index">
          </li>

        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

          <!-- Loop through the modalAlbum.images in GalleryCtrl's scope -->
          <div
            class="item {{$index == 0 ? 'active' : ''}}"
            ng-repeat="image in modalAlbum.images track by $index"
            ng-cloak
          >
            <img ng-src="{{image.src}}" alt="...">
          </div>

        </div>

        <!-- Controls -->
        <span class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </span>
        <span class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </span>
      </div>
      <!-- end carousel -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

        <!-- <img src="/images/gallery/AllShookUp/all-shook-up.jpg" style="width:100%;"> -->
